# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de construcción
dist/
build/
out/

# Archivos de caché
.cache/
.npm/
.eslintcache

# Archivos de cobertura
coverage/

# Archivos de uploads
uploads/
public/uploads/

# Archivos temporales
tmp/
temp/ 